/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 10, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -200px;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#layout #footer_spacer {
  height: 200px;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 200px;
}

/* line 3, ../../../app/stylesheets/partials/_layout.scss */
html, body, #container {
  height: 100%;
  font-family: Verdana, sans-serif;
}

/* line 8, ../../../app/stylesheets/partials/_layout.scss */
body {
  background: black url("/images/header.jpg") no-repeat top;
  padding-top: 90px;
}

/* line 13, ../../../app/stylesheets/partials/_layout.scss */
#layout {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  width: 965px;
  margin: 0 auto;
  background-color: #fff;
}

/* line 20, ../../../app/stylesheets/partials/_layout.scss */
#container {
  padding: 0 15px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 23, ../../../app/stylesheets/partials/_layout.scss */
#container #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #footer {
  overflow-x: hidden;
}
/* line 25, ../../../app/stylesheets/partials/_layout.scss */
#container #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
  background-color: #fff;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #sidebar {
  overflow-x: hidden;
}
/* line 28, ../../../app/stylesheets/partials/_layout.scss */
#container #content, #container #content_main {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 670px;
  background-color: #fff;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #content, * html #container #content_main {
  overflow-x: hidden;
}

/* line 34, ../../../app/stylesheets/partials/_layout.scss */
#content_main {
  overflow: hidden;
  *zoom: 1;
  margin-top: 40px;
}

/* line 1, ../../../app/stylesheets/partials/_footer.scss */
#footer {
  width: 965px;
  color: #a09f9f;
  font: 9px Verdana;
  margin: auto;
  text-align: center;
}
/* line 7, ../../../app/stylesheets/partials/_footer.scss */
#footer p {
  padding: 20px 15px 0;
  text-align: left;
}
/* line 12, ../../../app/stylesheets/partials/_footer.scss */
#footer ul#footer_nav {
  padding: 20px 15px 0 15px;
}
/* line 14, ../../../app/stylesheets/partials/_footer.scss */
#footer ul#footer_nav li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  border-right: 1px solid #aacaf9;
  margin: 7.5px 0;
  color: #aacaf9;
  font-size: 11px;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#footer ul#footer_nav li {
  *display: inline;
}
/* line 20, ../../../app/stylesheets/partials/_footer.scss */
#footer ul#footer_nav li a {
  text-decoration: none;
  padding: 0 15px;
  color: #aacaf9;
  font-size: 11px;
}
/* line 26, ../../../app/stylesheets/partials/_footer.scss */
#footer ul#footer_nav li a:hover {
  text-decoration: underline;
}
/* line 30, ../../../app/stylesheets/partials/_footer.scss */
#footer ul#footer_nav li.last {
  border: 0;
}
/* line 33, ../../../app/stylesheets/partials/_footer.scss */
#footer ul#footer_nav li.no_link {
  padding-right: 15px;
}

/* line 2, ../../../app/stylesheets/partials/_nav.scss */
.nav a {
  color: #084296;
  text-decoration: none;
}
/* line 5, ../../../app/stylesheets/partials/_nav.scss */
.nav a:hover {
  text-decoration: underline;
}

/* line 11, ../../../app/stylesheets/partials/_nav.scss */
#user_nav, #global_nav {
  float: left;
  margin-top: 0;
  margin-right: 30px;
}
/* line 16, ../../../app/stylesheets/partials/_nav.scss */
#user_nav li, #global_nav li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0;
  padding: 20px 20px 0 5px;
  background: url("/images/nav-dot.gif") no-repeat right 25px;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p180@fff/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#user_nav li, #global_nav li {
  *display: inline;
}
/* line 22, ../../../app/stylesheets/partials/_nav.scss */
#user_nav li.first, #global_nav li.first {
  padding-left: 0;
}
/* line 25, ../../../app/stylesheets/partials/_nav.scss */
#user_nav li.last, #global_nav li.last {
  background-image: none;
}
/* line 29, ../../../app/stylesheets/partials/_nav.scss */
#user_nav li a, #global_nav li a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
}
/* line 35, ../../../app/stylesheets/partials/_nav.scss */
#user_nav li img.current, #global_nav li img.current {
  position: absolute;
  top: -22px;
  left: 50%;
  margin-left: -10px;
}

/* line 46, ../../../app/stylesheets/partials/_nav.scss */
#site_nav {
  float: left;
  margin-top: 40px;
}
/* line 50, ../../../app/stylesheets/partials/_nav.scss */
#site_nav li {
  font-size: 14px;
  padding: 0 0 10px 0;
}
/* line 54, ../../../app/stylesheets/partials/_nav.scss */
#site_nav li a {
  padding-left: 17px;
  background: url("/images/nav-star.gif") no-repeat left;
}
/* line 60, ../../../app/stylesheets/partials/_nav.scss */
#site_nav.current {
  font-weight: bold;
}

/* line 1, ../../../app/stylesheets/partials/_headers.scss */
h1 {
  color: #084296;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
