/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../../../app/stylesheets/screen.scss */
.header {
  text-align: center;
}

/* line 11, ../../../app/stylesheets/screen.scss */
.content {
  margin: 10px;
  padding: 10px;
  border-top: 1px solid black;
}

/* line 17, ../../../app/stylesheets/screen.scss */
.progress_spinner {
  display: none;
}

/* line 20, ../../../app/stylesheets/screen.scss */
textarea.simple {
  width: 254px;
  height: 50px;
}

/* line 24, ../../../app/stylesheets/screen.scss */
body {
  background: #e1e9f3;
}

/* line 27, ../../../app/stylesheets/screen.scss */
.password {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}

/* line 32, ../../../app/stylesheets/screen.scss */
.current_step {
  font-weight: bold;
}

/* line 35, ../../../app/stylesheets/screen.scss */
.step_indicator p span {
  font-weight: bold;
  color: #0a2b8a;
}
