@include sticky-footer(200px, "#layout", "#footer_spacer", "#footer");

html, body, #container {
  height: 100%;
}

body {
  background:#000 url('/images/header.jpg') no-repeat top;
  padding-top: 90px;
}

#layout {
  width:$page-width;
  margin:auto;
  @include border-radius;
  // padding: $padd-top $padd-sides;
  background-color:#fff;
}

#container {
  padding: $padd-top $padd-sides;
  @include container;
  #header, #footer {
    @include column(24); }
  #sidebar {
    background-color:#fff;
    @include column(6); }
  #content {
    background-color:#fff;
    @include column(18, true); }
  }
    
// #content, #sidebar {
//   padding-top: $padd-top;
// }
