/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

.header {
  text-align: center; }

.content {
  margin: 10px;
  padding: 10px;
  border: {
    top: 1px solid black; }; }

.progress_spinner {
  display: none; }

textarea.simple {
  width: 254px;
  height: 50px; }

body {
  background: #e1e9f3; }

.password {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px; }

.current_step {
  font-weight: bold; }

.step_indicator p span {
  font-weight: bold;
  color: #0a2b8a; }
